force-app/main/default/flows/Update_Primary_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Get_Account_Id</name>
        <label>Get Account Id</label>
        <locationX>450</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_related_Contacts_to_Account_Id_on_updated_Record</targetReference>
        </connector>
    </assignments>
    <description>only a single primary contact should exist under an account(College/Institution) for contacting purpose</description>
    <interviewLabel>Update Primary Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Primary Contact</label>
    <loops>
        <name>Loop_over_contacts_under_an_account</name>
        <label>Loop over contacts under an account</label>
        <locationX>1004</locationX>
        <locationY>220</locationY>
        <collectionReference>Get_related_Contacts_to_Account_Id_on_updated_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Make_other_Primary_Contacts_false</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_Contacts_to_Account_Id_on_updated_Record</name>
        <label>Get related Contacts to Account Id on updated Record</label>
        <locationX>633</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_contacts_under_an_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Make_other_Primary_Contacts_false</name>
        <label>Make other Primary Contacts false</label>
        <locationX>812</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>Get_related_Contacts_to_Account_Id_on_updated_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>accId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
